.create_banner{
    width: 97vw;
    height: 60vh;
    object-fit: cover;
}

.img_upload_create{
    display: none;
}

.create_blog_pg label {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: 20px;
}

.create_blog_pg label:hover{
    cursor: pointer;
}

.blog_fields{
    display: flex;
    justify-content: space-between;
}

.title_blog{
    margin-top: 20px;
    width: 75%;
    border: 3px solid grey;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 20px;
}

.publish_btn{
    background-color: rgb(37, 110, 236);
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 9px 35px ;
    box-shadow: 3px 1px rgb(118, 117, 117);
    border-radius: 6px;
    margin-top: 15px;
    margin-right: 60px;
}

.about_blog{
    width: 85%;
    margin-top: 40px;
    height: 30vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 20px;
    resize: none;
    margin-bottom: 200px;
    border: 3px solid black;
    border-radius: 8px;
}

